

{% include 'link/nav.html.twig' %}
  <!-- ======= Hero Section ======= -->

  <main id="main">
  <section>
  <section id="hero" class="d-flex justify-cntent-center align-items-center">
    <div id="heroCarousel" data-bs-interval="5000" class="container carousel carousel-fade" data-bs-ride="carousel">
      <div class="row" style="display:flex ; padding-top:10%;margin-left:20%">
        <div class="col-md-6">
          <div class="card">
            <h3 class="card-header" style="font-family: cursive;">
              Connexion 
            </h3>
            <div class="card-body">
               
              <form method="post" class="form-login">
                      {% if error %}
                          <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                      {% endif %}
                      {% for msg in app.flashes('message') %}
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                            <strong>  {{msg }} </strong> 
                        </div>
                        <script>
                          $(".alert").alert();
                        </script>
                            
                        </div>
                    {% endfor %}
                          <div class="input-group mb-3">
                          <input type="email"  value="{{ last_username }}" name="email" autocomplete="email" required autofocus  id="inputEmail" class="form-control" placeholder="Adresse E-mail">
                          
                        </div>
                        <div class="input-group mb-3">
                        <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required autofocus  placeholder="Mot de passe ">
                      
                      </div>
                      <div class="row">
                        <div class="col-12">
                          <input type="hidden" name="_csrf_token"  value="{{ csrf_token('authenticate') }}">
                          <button type="submit" class="btn btn-primary btn-block"> SE CONNECTER </button>
                        </div>
                    </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    
    </div>
  </section>
    <div class="container">
      
    </div>
  </section>
  
  
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  {{ include('link/footer.html.twig') }}
  
</body>

</html>


