{% extends 'base.html.twig' %}
{% block body %}
<div class="wrapper">
  <div class="content-wrapper">
    <div class="row" style="padding-left:2%;padding-top:2%">
        <div class="col-md-8">
          <div class="card border-primary">
              <h3 class="card-header"> <strong> Je crée mon compte </strong>  </h3>
              <div class="card-body">
                {% for flashError in app.flashes('verify_email_error') %}
                  <div class="alert alert-danger" role="alert">{{ flashError }}</div>
                {% endfor %}
                  {{ form_start(registrationForm) }}
                  <div class="row">
                    <div class="col-md-6 form-group">
                        {{ form_row(registrationForm.nom) }}
                    </div>
                    <div class="col-md-6 form-group">
                        {{ form_row(registrationForm.Prenom) }}
                    </div>
                    <div class="col-md-6 form-group">
                        {{ form_row(registrationForm.email) }}
                    </div>
                    <div class="col-md-6 form-group">
                        {{ form_row(registrationForm.nin) }}
                    </div>
                    <div class="col-md-6 form-group">
                        {{ form_row(registrationForm.numerocarte) }}
                    </div>
                    <div class="col-md-6 form-group">
                        {{ form_row(registrationForm.session) }}
                    </div>
                  </div>
                  
                    
                    
                  {{ form_end(registrationForm) }}
                </div>
              </div>
          </div>
        </div>
    </div>
  </div>
</div>
{% endblock %}
 