<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>Dashboard</title>
    {% include "link/link_css.html.twig" %}  
</head>
{% include "link/header.html.twig" %}
    <div class="page-container">
        <div class="main-content">
            <div class="section__content section__content--p30">
                <div class="container-fluid">
                    <div class="row">
                      <div class="col-lg-10">
                        {% for msg in app.flashes('success') %}
                          <div class="alert alert-success alert-dismissible fade show" role="alert">
                              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                              </button>
                              <strong>  {{msg }} </strong> 
                          </div>
                          <script>
                            $(".alert").alert();
                          </script>
                              
                          </div>
                        {% endfor %}
                      <div class="card">
                        <h3 class="card-header">   Gestion bourses d'etudes  </h3>
                        <div class="card-body">
                             {{ include('bourse/_form.html.twig') }}
                            <br>
                            <br>
                             {% if (app.user.bourses|length) >= 1 %}
                            {% for candidatures in app.user.candidatures %}
                              
                              {% if candidatures.stage=="oui"   %}
                                <a class="btn btn-primary"  href="{{ path('experience_new')}}"> <i class="fa fa-location-arrow" aria-hidden="true"></i>
                                Passer à l'etape suivante </a> 
                              {% elseif (candidatures.typediplome.id != "3") %}
                                <a class="btn btn-primary"  href="{{ path('diplome_new')}}"> <i class="fa fa-location-arrow" aria-hidden="true"></i>
                                Passer à l'etape suivante </a>

                                {% elseif candidatures.flux == "entrant"  %}
                                    <a class="btn btn-primary"  href="{{ path('flux_new')}}"> <i class="fa fa-location-arrow" aria-hidden="true"></i>
                                  Passer à l'etape suivante </a>
                                {% elseif candidatures.flux == "sortant"  %}
                                <a class="btn btn-primary"  href="{{ path('flux_sortant_new')}}"> <i class="fa fa-location-arrow" aria-hidden="true"></i>
                                  Passer à l'etape suivante </a>
                                  {% else %}
                                  <a class="btn btn-primary"  href="{{ path('flux_sortant_new')}}"> <i class="fa fa-location-arrow" aria-hidden="true"></i>
                                  Passer à l'etape suivante </a>
                            {% endif  %}
                            <a class="btn btn-warning"  href="{{ path('information_bac_new')}}"> <i class="fa fa-location-arrow" aria-hidden="true"></i>
                                Revenir à l'etape precedente 
                              </a>
                          {% endfor %}
                       {% endif %}
                       </div>
                      </div>
                           
                           
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
     
{% include 'link/footer.html.twig' %}
{% include "link/link_js.html.twig" %}  
  
