{% extends 'base.html.twig' %}

{% block title %}Droit{% endblock %}

{% block body %}
    <h1>Droit</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ droit.id }}</td>
            </tr>
            <tr>
                <th>Inscription</th>
                <td>{{ droit.inscription }}</td>
            </tr>
            <tr>
                <th>Hebergement</th>
                <td>{{ droit.hebergement }}</td>
            </tr>
            <tr>
                <th>Diplomes</th>
                <td>{{ droit.diplomes }}</td>
            </tr>
            <tr>
                <th>Releve</th>
                <td>{{ droit.releve }}</td>
            </tr>
            <tr>
                <th>Charge</th>
                <td>{{ droit.charge }}</td>
            </tr>
            <tr>
                <th>Passport</th>
                <td>{{ droit.passport }}</td>
            </tr>
            <tr>
                <th>Visa</th>
                <td>{{ droit.visa }}</td>
            </tr>
            <tr>
                <th>Commentaire</th>
                <td>{{ droit.commentaire }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_droit_index') }}">back to list</a>

    <a href="{{ path('app_droit_edit', {'id': droit.id}) }}">edit</a>

    {{ include('droit/_delete_form.html.twig') }}
{% endblock %}
