
{% extends 'base.html.twig' %}
{% block body %}
<div class="wrapper">
  <div class="content-wrapper">
     <div class="row" style="padding-left:2%;padding-top:2%">
          <div class="col-md-12">
            <div class="card card-success">
               <div class="card-header">
                  <h3 class="card-title">
                    DOSSIER DE CANDIDATURE 
                   </h3>
               </div>
              <!-- /.card-header -->
               <div class="card-body">
               <div class="row">
                  <div class="col-12 col-sm-12">
                     <div class="card card-primary card-tabs">
                           
                           <div class="tab-pane fade show active" id="custom-tabs-one-home" role="tabpanel" aria-labelledby="custom-tabs-one-home-tab">
                              <div class="row">
                                 <div class="col-4 col-sm-4">
                                    <div class="card border-primary">
                                    <div class="card-body">
                                       <h4 class="card-title">Informations  dossier</h4>
                                       
                                       <table class="table table-striped">
                                          <tbody>
                                          {% for nos_etudiantt in nos_etudiantt %}
                                             <tr>
                                                <th>Reference </th>
                                                <td> {{nos_etudiantt.reference  }}  </td>
                                             </tr>
                                          <tr>
                                                <th>Date d'inscription   </th>
                                                <td> {{ nos_etudiantt.dtcreate|date('y-m-d')}} </td>
                                             </tr>
                                             <tr>
                                                <th>Niveau d'etude  </th>
                                                <td>{{nos_etudiantt.libelle_niv}}   </td>
                                             </tr>
                                             <tr>
                                                <th>Type de flux  </th>
                                                <td> Flux {{nos_etudiantt.flux}}    </td>
                                             </tr>
                                             <tr>
                                                <th>Identifiant   </th>
                                                <td> {{nos_etudiantt.code}}    </td>
                                             </tr>
                                             <tr>
                                                <th>Statut de dossier  </th>
                                                {% if  nos_etudiantt.statut == 0  %}{% endif %}
                                                <td><button class="btn">
                                                   <span class="badge badge-primary">Receptionné</span>
                                                </button></td>
                                             </tr>
                                             
                                          {% endfor %}
                                             
                                          </tbody>
                                       </table>
                                    </div>
                                    </div>
                                 </div>
                                 <div class="col-4 col-sm-4">
                                    <div class="card border-primary">
                                    <div class="card-body">
                                       <h4 class="card-title">Informations personnelles </h4>
                                       
                                       <table class="table table-striped">
                                          <tbody>
                                          {% for nos_etudiantt in nos_etudiantt %}
                                             <tr>
                                                <th>Genre </th>
                                                <td> {{nos_etudiantt.sexe  }}  </td>
                                             </tr>
                                             <tr>
                                                <th>Etat civile    </th>
                                                <td> {{ nos_etudiantt.etat}} </td>
                                             </tr>
                                             <tr>
                                                <th>Nom de famille    </th>
                                                <td> {{ nos_etudiantt.nom}} </td>
                                             </tr>
                                             <tr>
                                                <th>Prenom    </th>
                                                <td> {{ nos_etudiantt.prenom}} </td>
                                             </tr>
                                             <tr>
                                                <th>Date de naissance   </th>
                                                <td>{{nos_etudiantt.dtna|date('y-m-d')}}   </td>
                                             </tr>
                                              <tr>
                                                <th>Nationalité   </th>
                                                <td>{{nos_etudiantt.nationalite}}   </td>
                                             </tr>
                                              
                                             
                                           {% endfor %}
                                             
                                          </tbody>
                                       </table>
                                    </div>
                                 </div>
                                 </div>
                                 <div class="col-4 col-sm-4">
                                    <div class="card border-primary">
                                    <div class="card-body">
                                       <h4 class="card-title">Coordonnées et contact  </h4>
                                       
                                       <table class="table table-striped">
                                          <tbody>
                                          {% for nos_etudiantt in nos_etudiantt %}
                                             <tr>
                                                <th>Lieu de naissance  </th>
                                                <td>  {{nos_etudiantt.lieu}}    </td>
                                             </tr>
                                              <tr>
                                                <th> Adresse domicile   </th>
                                                <td>  {{nos_etudiantt.adresse}}    </td>
                                             </tr>
                                             <tr>
                                                <th> Adresse E-mail   </th>
                                                <td>  {{nos_etudiantt.email}}    </td>
                                             </tr>
                                             <tr>
                                                <th> Telephone    </th>
                                                <td>  {{nos_etudiantt.tel}}    </td>
                                             </tr>
                                             <tr>
                                                <th> Ile ou province    </th>
                                                <td>  {{nos_etudiantt.ile}}    </td>
                                             </tr>
                                             <tr>
                                                <th> Pays d'origine     </th>
                                                <td>  {{nos_etudiantt.pays}}    </td>
                                             </tr>
                                           {% endfor %}
                                             
                                          </tbody>
                                       </table>
                                    </div>
                                 </div>
                                 </div>
                                 <div class="col-4 col-sm-12">
                                 <div class="card border-primary">
                                     
                                    <div class="card-body">
                                     <h4 class="card-header">Responsable d'etude   </h4>
                                      <table class="table table-bordered table-striped">
                                         <thead>
                                          <tr>
                                             <th>Nom  </th>
                                             <th>Prenom   </th>
                                             <th>Telephone</th>
                                             <th>Email</th>
                                             <th>Proffession </th>
                                              <th>Adresse domicile  </th>
                                             
                                          </tr>
                                       </thead>
                                       <tbody>
                                       {% for rep in reponsable %}
                                       <tr>
                                          <td>{{ rep.resp_nom}}</td>
                                          <td>{{ rep.nom }}</td>
                                          <td>{{ rep.tel }}</td>
                                          <td>{{rep.email }}</td>
                                          <td>{{rep.prof }}</td>
                                          <td>{{rep.ad }}</td>
                                          
                                       </tr>
                                       {% endfor %}
                                       
                                       </tbody>
                                       </table>
                                      
                                    </div>
                                 </div>
                              </div>
                                 <div class="col-6 col-sm-6">
                                    <div class="card border-primary">
                                    <div class="card-body">
                                       <h4 class="card-header">Informations suplementaires et identité   </h4>
                                       
                                       <table class="table table-striped">
                                          <tbody>
                                          {% for nos_etudiantt in nos_etudiantt %}
                                             
                                              <tr>
                                                <th> Personne à contacter en cas d'urgence   </th>
                                                <td>  {{nos_etudiantt.urgence}}    </td>
                                             </tr>
                                             
                                             <tr>
                                                 <th>Numero de carte d'identité  </th>
                                                <td> {{nos_etudiantt.num_ca}}    </td>
                                             </tr>
                                             <tr>
                                                <th> Piece d'identité   </th>
                                                 <td><a href="{{ asset('uploads/'~ nos_etudiantt.piece) }}">consulter </a> </td>

                                             </tr>
                                             <tr>
                                                <th>Type de piece d'identite</th>
                                                <td> {{nos_etudiantt.typeidentite}}</td>
                                             </tr>
                                             <tr>
                                                <th> Pays de delivrance     </th>
                                                <td>  {{nos_etudiantt.pays}}    </td>
                                             </tr>
                                             <tr>
                                                <th>Nin    </th>
                                                <td>{{nos_etudiantt.nin}}   </td>
                                             </tr>
                                             <tr>
                                                <th>Date de delivrance    </th>
                                                <td>{{nos_etudiantt.dtliv| date('y-m-d')}}   </td>
                                             </tr>
                                             <tr>
                                                <th>Date de validité   </th>
                                                <td>{{nos_etudiantt.dtEx| date('y-m-d')}}   </td>
                                             </tr>
                                           {% endfor %}
                                             
                                          </tbody>
                                       </table>
                                    </div>
                                 </div>
                              </div>
                              
                              <div class="col-6 col-sm-6">
                                    <div class="card border-primary">
                                    <div class="card-body">
                                       <h4 class="card-header">Baccalauréat  </h4>
                                       
                                       <table class="table table-striped">
                                          <tbody>
                                          {% for nos_etudiantt in nos_etudiantt %}
                                             <tr>
                                                <th>Etablissement frequenté   </th>
                                                <td>  {{nos_etudiantt.ecole}}    </td>
                                             </tr>
                                              <tr>
                                                <th> Serie    </th>
                                                <td>  {{nos_etudiantt.serie }}    </td>
                                             </tr>
                                             <tr>
                                                <th>Mention   </th>
                                                <td>{{nos_etudiantt.mention}}    </td>
                                             </tr>
                                              <tr>
                                                <th>Moyenne des matieres fondamentales    </th>
                                                <td>{{nos_etudiantt.moy}}    </td>
                                             </tr>
                                             <tr>
                                                <th> Numero de table    </th>
                                                <td>  {{nos_etudiantt.nutable}}    </td>
                                             </tr>
                                             <tr>
                                             <tr>
                                                <th> Nom du centre    </th>
                                                <td>  {{nos_etudiantt.centre}}    </td>
                                             </tr>
                                             <tr>
                                                <th> Année de session     </th>
                                                <td>  {{nos_etudiantt.session }}    </td>
                                             </tr>
                                             <tr>
                                                <th> Resultat d'admission      </th>
                                                <td>  {{nos_etudiantt.sess }}    </td>
                                             </tr>
                                             <tr>
                                                <th> Relevé de note     </th>
                                                 <td><a href="{{ asset('uploads/'~ nos_etudiantt.rele) }}">consulter </a> </td>

                                             </tr>
                                             <tr>
                                                <th> Attestation ou diplome    </th>
                                                 <td><a href="{{ asset('uploads/'~ nos_etudiantt.att) }}">consulter </a> </td>
                                               
                                             </tr>
                                            {% endfor %}
                                           
                                             
                                          </tbody>
                                       </table>
                                      
                                    </div>
                                 </div>
                                 </div>
                              
                              
                               {% for nos_etudiantt in nos_etudiantt %}
                                 {% if nos_etudiantt.cursus == "interne"  %}
                                    <div class="col-12 col-sm-12">
                                       <div class="card border-primary">
                                          <div class="card-body">
                                             <h4 class="card-header">Cursus interne    </h4>
                                             <table class="table  table-bordered   table-striped ">
                                                <thead>
                                                   <tr>
                                                      <th>Anneé   </th>
                                                      <th>Nom Etablissement  </th>
                                                      <th>Niveau d'etude</th>
                                                      <th>Discipline </th>
                                                      <th> Mention </th>
                                                      <th> Moyenne </th>
                                                      <th>Type d'etablissement    </th>
                                                      <th>Pays </th>
                                                      <th>Justificatif </th>
                                                   </tr>
                                                   </thead>
                                                   <tbody>
                                                   {% for cursus in cursus %}
                                                      <tr>
                                                         <td>{{ cursus.anne| date('Y-m-d')}}</td>
                                                         <td> {{ cursus.titre }}</td>
                                                         <td> {{ cursus.lib_niveau }}</td>
                                                         <td> {{ cursus.filiere }}</td>
                                                         <td> {{ cursus.mention }}</td>
                                                         <td> {{ cursus.moy }}</td>
                                                         <td> {{ cursus.libelle }}</td>
                                                         <td> {{ cursus.pays }}</td>
                                                         <td><a href="{{ asset('uploads/'~ cursus.fichier) }}">consulter </a> </td>
                                                       </tr>
                                                   {% endfor %}
                                                   
                                             </tbody>
                                             </table>
                                          </div>
                                       </div>
                                    </div>
                                 {% endif %}
                              {% endfor %}
                              {% for nos_etudiantt in nos_etudiantt %}
                                 {% if nos_etudiantt.cursus == "externe"  %}
                                    <div class="col-12 col-sm-12">
                                       <div class="card border-primary">
                                          <div class="card-body">
                                             <h4 class="card-header">Cursus externe     </h4>
                                             <table  class="table   table-bordered   table-striped">
                                             <thead>
                                                   <tr>
                                                      <th>Anneé   </th>
                                                      <th>Nom Etablissement  </th>
                                                      <th>Niveau d'etude</th>
                                                      <th>Discipline </th>
                                                      <th> Mention </th>
                                                      <th> Moyenne </th>
                                                      <th>Type d'etablissement    </th>
                                                      <th>Pays </th>
                                                      <th>Justificatif </th>
                                                   </tr>
                                                   </thead>
                                                   <tbody>
                                                   {% for cursus in cursus %}
                                                      <tr>
                                                         <td>{{ cursus.anne| date('Y-m-d')}}</td>
                                                         <td> {{ cursus.titre }}</td>
                                                         <td> {{ cursus.lib_niveau }}</td>
                                                         <td> {{ cursus.filiere }}</td>
                                                         <td> {{ cursus.mention }}</td>
                                                         <td> {{ cursus.moy }}</td>
                                                         <td> {{ cursus.libelle }}</td>
                                                         <td> {{ cursus.pays }}</td>
                                                         <td><a href="{{ asset('uploads/'~ cursus.fichier) }}">consulter </a> </td>
                                                        
                                                      </tr>
                                                   {% endfor %}
                                                   </tbody>
                                             </table>
                                          </div>
                                       </div>
                                    </div>
                                 {% endif %}
                              {% endfor %}
                              {% for nos_etudiantt in nos_etudiantt %}
                                 {% if nos_etudiantt.cursus == "deux"  %}
                                    <div class="col-12 col-sm-12">
                                       <div class="card border-primary">
                                          <div class="card-body">
                                             <h4 class="card-header">Cursus interne    </h4>
                                             <table class="table  table-bordered table-striped">
                                                <thead>
                                                   <tr>
                                                      <th>Anneé   </th>
                                                      <th>Nom Etablissement  </th>
                                                      <th>Niveau d'etude</th>
                                                      <th>Discipline </th>
                                                      <th> Mention </th>
                                                      <th> Moyenne </th>
                                                      <th>Type d'etablissement    </th>
                                                      <th>Pays </th>
                                                      <th>Justificatif </th>
                                                   </tr>
                                                   </thead>
                                                   <tbody>
                                                   {% for cursus in cursus %}
                                                      <tr>
                                                         <td>{{ cursus.anne| date('Y-m-d')}}</td>
                                                         <td> {{ cursus.titre }}</td>
                                                         <td> {{ cursus.lib_niveau }}</td>
                                                         <td> {{ cursus.filiere }}</td>
                                                         <td> {{ cursus.mention }}</td>
                                                         <td> {{ cursus.moy }}</td>
                                                         <td> {{ cursus.libelle }}</td>
                                                         <td> {{ cursus.pays }}</td>
                                                         <td><a href="{{ asset('uploads/'~ cursus.fichier) }}">consulter </a> </td>
                                                        
                                                      </tr>
                                                   {% endfor %}
                                             </tbody>
                                             </table>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="col-12 col-sm-12">
                                       <div class="card border-primary">
                                          <div class="card-body">
                                             <h4 class="card-header">Cursus externe     </h4>
                                             <table class="table table-bordered table-striped">
                                             <thead>
                                                   <tr>
                                                      <th>Anneé   </th>
                                                      <th>Nom Etablissement  </th>
                                                      <th>Niveau d'etude</th>
                                                      <th>Discipline </th>
                                                      <th> Mention </th>
                                                      <th> Moyenne </th>
                                                      <th>Type d'etablissement    </th>
                                                      <th>Pays </th>
                                                      <th>Justificatif </th>
                                                   </tr>
                                                   </thead>
                                                   <tbody>
                                                   {% for cursus in cursus %}
                                                      <tr>
                                                         <td>{{ cursus.anne| date('Y-m-d')}}</td>
                                                         <td> {{ cursus.titre }}</td>
                                                         <td> {{ cursus.lib_niveau }}</td>
                                                         <td> {{ cursus.filiere }}</td>
                                                         <td> {{ cursus.mention }}</td>
                                                         <td> {{ cursus.moy }}</td>
                                                         <td> {{ cursus.libelle }}</td>
                                                         <td> {{ cursus.pays }}</td>
                                                         <td><a href="{{ asset('uploads/'~ cursus.fichier) }}">consulter </a> </td>
                                                         
                                                      </tr>
                                                   {% endfor %}
                                                   </tbody>
                                             </table>
                                          </div>
                                       </div>
                                    </div>
                                 {% endif %}
                              {% endfor %}
                              {% for nos_etudiantt in nos_etudiantt %}
                              {% if nos_etudiantt.niveau > 3  %}
                              <div class="col-4 col-sm-12">
                                 <div class="card border-primary">
                                    <div class="card-body">
                                       <h4 class="card-title">Formations et diplomes   </h4>
                                       
                                       <table class="table  table-bordered table-striped">
                                         <thead>
                                          <tr>
                                              <th>Année de session</th>
                                             <th>Intitulé diplome </th>
                                             <th>Discipline   </th>
                                             <th>Diplome  </th>
                                             <th>Moyenne   </th>
                                             <th>Type d'etablissement   </th>
                                             <th>Nom etablissement    </th>
                                            <th>Pays</th>
                                            
                                             <th>Justificatif </th>
                                             
                                          </tr>
                                       </thead>
                                       <tbody>
                                       {% for diplome in diplomes  %}
                                        <tr>
                                          <td>{{ diplome.session   }}</td>
                                          <td>{{diplome.lib }}</td>
                                          <td>{{diplome.compo }}</td>
                                          <td>{{diplome.type_diplome }}</td>
                                          <td>{{diplome.moy }}</td>
                                          <td>{{diplome.lib_uni }}</td>
                                          <td>{{ diplome.universite  }}</td>
                                          <td>{{ diplome.pays  }}</td>
                                          
                                           <td><a href="{{ asset('uploads/'~ diplome.fichier) }}">consulter </a> </td>
                                        </tr>
                                       {% endfor %}
                                      
                                      </tbody>
                                       </table>
                                      
                                    </div>
                                 </div>
                              </div>
                              {% endif %}
                                 
                              {% endfor %}
                              
                               {% for nos_etudiantt in nos_etudiantt %}
                                 {% if nos_etudiantt.stage =="oui" %}
                                   <div class="col-8 col-sm-8">
                                 <div class="card border-primary">
                                    <div class="card-body">
                                       <h4 class="card-header">EXPÉRIENCES PROFESSIONNELLES / STAGE </h4>
                                       <table class="table table-bordered table-striped">
                                         <thead>
                                                <tr>
                                                  <th>Date debut </th>
                                                   <th>Date  Fin  </th>
                                                   <th>Poste ocupé</th>
                                                   <th>Nom societé </th>
                                                   <th>Pays</th>
                                                   <th>Description </th>
                                                </tr>
                                          </thead>
                                          <tbody>
                                          {% for experience  in experiences  %}
                                             <tr>
                                                <td>{{ experience.dtex|date('Y-m-d')}}</td>
                                                <td>{{ experience.dtfin|date('Y-m-d')}}</td>
                                                <td>{{ experience.poste }}</td>
                                                <td>{{ experience.ent }}</td>
                                                <td>{{ experience.pays }}</td>
                                                <td>{{ experience.dt }}</td>
                                             </tr>
                                          {% endfor %}
                                             
                                           </tbody>
                                       </table>
                                    </div>
                                 </div>
                              </div>
                                 {% endif %}
                              {% endfor %}
                              {% for nos_etudiantt in nos_etudiantt %}
                                 {% if nos_etudiantt.bourse == "oui"  %}
                                    <div class="col-4 col-sm-4">
                                       <div class="card border-primary">
                                          <div class="card-body">
                                             <h4 class="card-header">Informations bourse  </h4>
                                             
                                             <table class="table table-striped">
                                                <tbody>
                                                {% for bourse in bourses %}
                                                <tr>
                                                      <th>Date d'obtention  </th>
                                                      <td>  {{bourse.dt}}    </td>
                                                   </tr>
                                                   <tr>
                                                      <th>Nature  </th>
                                                      <td> bourse {{bourse.nat}}    </td>
                                                   </tr>
                                                   <tr>
                                                      <th> Montant/mois    </th>
                                                      <td>  {{bourse.mont}} kmf   </td>
                                                   </tr>
                                                   <tr>
                                                      <th> Pays </th>
                                                      <td>  {{bourse.pays_b}}    </td>
                                                   </tr>
                                                   <tr>
                                                      <th> Description    </th>
                                                      <td>  {{bourse.bour_de }}    </td>
                                                   </tr>
                                                   
                                                {% endfor %}
                                                   
                                                </tbody>
                                             </table>
                                          
                                          </div>
                                       </div>
                                    </div>
                                 {% endif %}
                              {% endfor %}
                             
                              
                               {% for nos_etudiantt in nos_etudiantt %}
                                 {% if nos_etudiantt.flux == "sortant"  %}
                                   <div class="col-12 col-sm-12">
                                       <div class="card border-primary">
                                          <div class="card-body">
                                             <h4 class="card-header">Flux sortant  </h4>
                                             <table class="table table-bordered table-striped">
                                             <thead>
                                                   <tr class="table-success text-nowrap">
                                                      <th>Année depart </th>
                                                      <th>Etablissement   </th>
                                                      <th>Type d'établissement </th>
                                                      <th>adresse universite  </th>
                                                      <th>Pays  </th>
                                                    
                                                   </tr>
                                                </thead>
                                                <tbody>
                                                {% for flux_sortant in flux_sortant %}
                                                 {% if flux_sortant.types=="sortant" %}
                                                 
                                                   <tr>
                                                      <td>{{flux_sortant.depart|date('Y-m-d') }}</td>
                                                      <td>  {{ flux_sortant.univ }}  </td>
                                                      <td> {{ flux_sortant.type_univ }}  {{ flux_sortant.type_uni }}   </td>
                                                      <td> {{ flux_sortant.ville }}  </td>
                                                      <td> {{ flux_sortant.pays }}  </td>
                                                     
                                                   </tr> 
                                                {% endif %}
                                                {% endfor %}
                                                   </tbody>
                                                   <thead>
                                                      <tr class="table-success text-nowrap">
                                                         <th>Discipline   </th>
                                                         <th>Composant de domaine  </th>
                                                         <th>Niveau d'etude poursuivis </th>
                                                           <th>Cycle d'etude   </th>
                                                         <th> moyen de subsistance </th>
                                                        
                                                      </tr>
                                                   </thead>
                                                   <tbody>
                                                   {% for flux_sortant in flux_sortant %}
                                                    {% if flux_sortant.types=="sortant" %}
                                                      <tr>
                                                         <td>{{flux_sortant.filiere  }}</td>
                                                         <td> {{ flux_sortant.lib_compo}} </td>
                                                         <td>{{ flux_sortant.lib_niveau}}</td>
                                                          <td> {{ flux_sortant.cycle }}</td>
                                                         <td> {{ flux_sortant.moyen}}  </td>
                                                       </tr>
                                                       {% endif %}
                                                      {% endfor %}
                                                      
                                                   </tbody>
                                             </table>
                                          </div>
                                       </div>
                                    </div>
                                 {% endif %}
                              {% endfor %}
                              {% for nos_etudiantt in nos_etudiantt %}
                                 {% if nos_etudiantt.flux == "resident"  %}
                                 
                                    <div class="col-12 col-sm-12">
                                       <div class="card border-primary">
                                          <div class="card-body">
                                             <h4 class="card-header">Flux resident   </h4>
                                             <table class="table table-bordered table-striped">
                                             <thead>
                                                   <tr class="table-success text-nowrap">
                                                      <th>Année depart </th>
                                                      <th>Etablissement   </th>
                                                      <th>Type d'établissement </th>
                                                      <th>adresse universite  </th>
                                                      <th>Pays  </th>
                                                    
                                                   </tr>
                                                </thead>
                                                <tbody>
                                                {% for flux_sortant in flux_sortant %}
                                                 {% if flux_sortant.types=="resident" %}
                                                 
                                                   <tr>
                                                      <td>{{flux_sortant.depart|date('Y-m-d') }}</td>
                                                      <td>  {{ flux_sortant.univ }}  </td>
                                                      <td> {{ flux_sortant.type_univ }}  {{ flux_sortant.type_uni }}   </td>
                                                      <td> {{ flux_sortant.ville }}  </td>
                                                      <td> {{ flux_sortant.pays }}  </td>
                                                     
                                                   </tr> 
                                                {% endif %}
                                                {% endfor %}
                                                   </tbody>
                                                   <thead>
                                                      <tr class="table-success text-nowrap">
                                                         <th>Discipline   </th>
                                                         <th>Composant de domaine  </th>
                                                         <th>Niveau d'etude poursuivis </th>
                                                           <th>Cycle d'etude   </th>
                                                         <th> moyen de subsistance </th>
                                                        
                                                      </tr>
                                                   </thead>
                                                   <tbody>
                                                   {% for flux_sortant in flux_sortant %}
                                                    {% if flux_sortant.types=="resident" %}
                                                      <tr>
                                                         <td>{{flux_sortant.filiere  }}</td>
                                                         <td> {{ flux_sortant.lib_compo}} </td>
                                                         <td>{{ flux_sortant.lib_niveau}}</td>
                                                          <td> {{ flux_sortant.cycle }}</td>
                                                         <td> {{ flux_sortant.moyen}}  </td>
                                                       </tr>
                                                       {% endif %}
                                                      {% endfor %}
                                                      
                                                   </tbody>
                                             </table>
                                          </div>
                                       </div>
                                    </div>
                                 {% endif %}
                              {% endfor %}

                               {% for nos_etudiantt in nos_etudiantt %}
                                 {% if nos_etudiantt.flux == "entrant"  %}
                                    <div class="col-12 col-sm-12">
                                       <div class="card border-primary">
                                          <div class="card-body">
                                             <h4 class="card-title">Flux entrant    </h4>
                                             <table  class="table table-bordered table-hover">
                                                      <thead>
                                                         <tr class="table-success text-nowrap">
                                                            <th>Date d'arrivé au comores  </th>
                                                            <th>date de depart  </th>
                                                            <th>Niveau d'etude actuel    </th>
                                                            <th>Pays effectué les etudes </th>
                                                            <th> Cycle d'etude    </th>
                                                         </tr>
                                                      </thead>
                                                      <tbody>
                                                      {% for fl in flux %}
                                                         <tr>
                                                         <td>{{ fl.dtArrive|date('Y-m-d') }}</td>
                                                         <td>{{ fl.depart|date('Y-m-d') }}</td>
                                                         <td>{{ fl.lib_niveau}}</td>
                                                         <td>{{ fl.pays}}</td>
                                                         <td>{{ fl.typedi}}</td>
                                                      </tr>
                                                      {% endfor %}
                                                      
                                                   </tbody>
                                                <thead>
                                                      <tr class="table-success">
                                                         <th>  Dernier diplome obtenu </th>
                                                         <th>  Domaine specialité </th>
                                                         <th>votre projet proffessionnel ? </th>
                                                         <th>Problemes rencontreés durant les etudes  </th>
                                                         <th>Quelques Suggestions et remarques   </th>
                                                      </tr>
                                                </thead>
                                                   <tbody>
                                                   {% for fl in flux %}
                                                      <tr>
                                                          <td>{{fl.diplome }}</td>
                                                          <td>{{fl.sp }}</td>
                                                         <td>{{fl.projet }}</td>
                                                         <td>{{fl.probleme }}</td>
                                                         <td>{{fl.sug }}</td>
                                                      
                                                      
                                                      </tr>
                                                   {% endfor %}
                                                   </tbody>
                                                </table>
                                             </div>
                                          </div>
                                          </div>
                                       </div>
                                    </div>
                                 {% endif %}
                              {% endfor %}
                             

                               {# <div class="col-8 col-sm-8">
                                 <div class="card border-primary">
                                    <div class="card-body">
                                       <h4 class="card-title">Espace reservé à l'administrateur </h4>
                                       {% for nos_etudiantt in nos_etudiantt %} 
                                          
                                          <form action="">
                                             <div class="form-group">
                                               <label for="">Avis de dossier </label>
                                               <select  class="form-control" name="avis" id="avis">
                                                 <option value="2"> validé </option>
                                                 <option  value="3">incomplet </option>
                                                 <option value="4">refusé </option>
                                               </select>
                                             </div>
                                             <div class="form-group">
                                               <label for="">Motif du dossier  </label>
                                               <textarea class="form-control" name="motif" id="motif" rows="3"></textarea>
                                             </div>
                                             <div class="form-group">
                                               
                                                <input type="hidden" class="form-control"  data-id ={{ nos_etudiantt.id }}    id="idcandidature" placeholder="">
                                             </div>
                                             <button id="decision" type="submit" class="btn btn-success">   Envoyer <i class="zmdi zmdi-mail-send"></i> </button>
                                             </form> 
                                      {% endfor %}
                                    </div>
                                 </div>
                              </div> #}

                                
                              </div>
                           </div>
                        </div>
                     </div>
                     <!-- /.card -->
                     </div>
                  </div>
               </div>
            </div>
          </div>  
        </div>
    </div>
</div>
{% endblock %}
