{% extends "base.html.twig" %}
{% block body %}
   <section>
        <div class="section__content section__content--p100" id="contenu_html">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6 col-xl-6" id="informat-personnel">
                        <div class="card">
                            <div class="card-header text-white bg-primary mb-3">Informations personnelles 
                            {% for etudiants in app.user.etudiants %}
                                {% for candidat in app.user.candidatures %}
                                    {% if candidat.status == 0 %}
                                     <a style="float:right" class="btn btn-success" href="{{ path('etudiant_edit', {'id': etudiants.id}) }}"><i class="zmdi zmdi-edit"></i> </a>
                                    {% endif %}
                                {% endfor %}
                                
                            {% endfor %}
                               
                            </div>
                            
                            <div class="col-lg-12 col-xl-12">
                                <div class="card-body">
                                    <div class="card mb-4">
                                        <div class="row no-gutters">
                                            <div class="col-md-4">
                                                <img src="images/identite.jpg" alt="...">
                                            </div>
                                           
                                            <div class="col-md-8">
                                               <div class="card-body">
                                                    {% for etudiants  in app.user.etudiants %}
                                                        <h5 class="card-title"> 
                                                        {% if etudiants.sexe=="Homme" %}
                                                        Mr {{ app.user.nom }} {{ app.user.prenom }} </h5>
                                                        {% else %}
                                                            Mme {{ app.user.nom }} {{ app.user.prenom }} </h5>
                                                        {% endif %}
                                                            <p class="card-text">Né le : {{etudiants.dateNaissance | date('Y-m-d') }}  </p>
                                                            <p class="card-text"> <small> Situation maritale : <strong> {{etudiants.etatcivile }} </strong> </small>  </p>
                                                            <p class="card-text"> <small> Identifiant  : <strong> {{app.user.code }} </strong> </small>  </p>
                                                    
                                                    {% endfor %}
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-xl-12">
                                <div class="card-body">
                                    <div class="card mb-4">
                                        <div class="row no-gutters">
                                            <div class="col-md-4">
                                                <img src="images/coordo.jpg" alt="...">
                                            </div>
                                            <div class="col-md-8">
                                                <div class="card-body">
                                                    {% for etudiants  in app.user.etudiants %}
                                                            <p class="card-text"> <small> E-mail : <strong> {{app.user.email}} </strong>  </small> </p>
                                                            <p class="card-text"> <small> Lieu Naissance  : <strong> {{etudiants.lieuNaissance }} </strong> </small>  </p>
                                                            <p class="card-text"> <small> Adresse de residence  : <strong> {{ etudiants.adresse }} </strong> </small>  </p>
                                                            <p class="card-text"> <small> Personne à contacter en cas d'urgence : <br> <strong> {{ etudiants.telUrgence }} </strong> </small>  </p>
                                                            <p class="card-text"> <small> Piece d'identité  :  <strong>  <a href="{{ asset('uploads/'~ etudiants.pieceidentite) }}">consulter </a> </strong> </small>  </p>
                                                    
                                                    {% endfor %}
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-xl-12">
                                <div class="card-body">
                                    <div class="card mb-4">
                                        <div class="row no-gutters">
                                            <div class="col-md-4">
                                                <img src="images/civile.jpg" alt="..." style="min-width: 100%; height:200px">
                                            </div>
                                            <div class="col-md-8">
                                                <div class="card-body">
                                                    {% for etudiants  in app.user.etudiants %}
                                                            <p class="card-text"> <small> Numero identité : <strong> {{app.user.nin}}  </strong> </small> </p>
                                                            <p class="card-text"> <small>Date de validité : <strong> {{ etudiants.dateDelivrance ? etudiants.dateDelivrance|date('Y-m-d') : '' }}</strong> </small>  </p>
                                                            <p class="card-text"> <small>Date d'expiration : <strong> {{ etudiants.dateExpiration ? etudiants.dateExpiration|date('Y-m-d') : '' }} </strong> </small> </p>
                                                            <p class="card-text"> <small> Nationalité  : <strong> {{etudiants.nationalite }} </strong> </small>  </p>
                                                            <p class="card-text"> <small> Pays de naissance  : <strong> {{etudiants.pays }} </strong> </small>  </p>
                                                            <p class="card-text"> <small> Numero de carte   : <strong> {{ etudiants.NumCarteidentite  }} </strong> </small>  </p>
                                                            <p class="card-text"> <small> Type piece d'identité :  <strong> {{ etudiants.typeIdentite }} </strong> </small>  </p>
                                                    
                                                    {% endfor %}
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% if (app.user.responsables|length) >=1   %}
                            <div class="col-lg-12 col-xl-12">
                                <div class="card-body">
                                    <div class="card mb-4">
                                        <div class="row no-gutters">
                                            <div class="col-md-4">
                                                <img src="images/respon.jpg" alt="..." style="min-width: 100%; height:200px">
                                            </div>
                                            <div class="col-md-8">
                                                <div class="card-body" style="height:200px">
                                                
                                                    {% for item in app.user.responsables %}
                                                            <p class="card-text"> <small>Nom & Prenom : <strong> {{item.nom }} {{item.prenom }} </strong> </small> </p>
                                                            <p class="card-text"> <small>Telephone mobile : <strong> {{item.tel }} </strong> </small> </p>
                                                            <p class="card-text"> <small>Adresse E-mail : <strong> {{item.email }} </strong> </small> </p>
                                                            <p class="card-text"> <small>Proffession : <strong> {{item.proffession }} </strong> </small> </p>
                                                            <p class="card-text"> <small>Adresse residence  : <strong> {{item.adresse }} </strong> </small> </p>
                                                            {% for candidat in app.user.candidatures %}
                                                                {% if candidat.status == 0  %}
                                                                    <div class="">
                                                                        <a  class="btn  btn-sm btn-success" href="{{ path('responsable_edit', {'id': item.id}) }}"> <i class="zmdi zmdi-edit"></i> </a>
                                                                        <a  class="btn btn-sm btn-danger" href="#" data-id="{{ item.id  }}" id="responsable" onclick="delete_responsable()"> <i class="zmdi zmdi-delete"></i> </a>
                                                                    </div>
                                                                {% endif %}
                                                            {% endfor %}
                                                     {% endfor %}
                                               
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        </div>
                    </div>
                    {% if (app.user.informationBacs|length) >=1  %}
                    <div class="col-lg-6 col-xl-6" id="contenu_baccalaureat">
                        <div class="card" >
                            <div class="card-header text-white bg-primary mb-3">Information baccalaureat
                            {% for item in app.user.informationBacs %}
                                {% for candidat in app.user.candidatures %}
                                    {% if candidat.status == 0  %}
                                        <div style="float:right">
                                            <a  class=" btn-xs btn btn-success" href="{{ path('information_bac_edit', {'id': item.id}) }}"><i class="zmdi zmdi-edit"></i></a>
                                            <a style="color:white" onclick="delete_baccalaureat()" id="baccalaureat" class="btn btn-danger" data-id="{{ item.id }}">  <i class="zmdi zmdi-delete"></i> </a>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                            </div>
                             
                            <div class="card-body" style="height:995px">
                                <div class="au-inbox-wrap js-inbox-wrap">
                                    <div class="au-message js-list-load">
                                        <div class="au-message-list">
                                           {% for item in app.user.informationBacs %}
                                            <div class="au-message__item">
                                            
                                                <div class="au-message__item-inner">
                                                    <div class="au-message__item-text">
                                                        <div class="avatar-wrap">
                                                            <i class="zmdi zmdi-tag-more zmdi-hc-2x"></i>
                                                        </div>
                                                        <div class="text">
                                                            <h5 class="name">{{app.user.numerocarte}} </h5>
                                                            <p>Numero de table </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="au-message__item">
                                                <div class="au-message__item-inner">
                                                    <div class="au-message__item-text">
                                                        <div class="avatar-wrap">
                                                            <i class="zmdi zmdi-layers zmdi-hc-2x"></i>
                                                        </div>
                                                        <div class="text">
                                                            <h5 class="name"> serie {{item.serie.libelle}}  </h5>
                                                            <p>serie baccalaureat  </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="au-message__item">
                                                <div class="au-message__item-inner">
                                                    <div class="au-message__item-text">
                                                        <div class="avatar-wrap">
                                                            <i class="zmdi zmdi-assignment zmdi-hc-2x"></i>
                                                        </div>
                                                        <div class="text">
                                                            <h5 class="name"> {{item.mention }}  </h5>
                                                            <p>Mention obtenu au bac  </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="au-message__item">
                                                <div class="au-message__item-inner">
                                                    <div class="au-message__item-text">
                                                        <div class="avatar-wrap">
                                                           <i class="zmdi  zmdi-hc-2x zmdi-gps-dot"></i>
                                                        </div>
                                                        <div class="text">
                                                            <h5 class="name"> {{item.centre }}  </h5>
                                                            <p>Centre  </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="au-message__item">
                                                <div class="au-message__item-inner">
                                                    <div class="au-message__item-text">
                                                        <div class="avatar-wrap">
                                                            <i class="zmdi zmdi-codepen zmdi-hc-2x"></i>
                                                        </div>
                                                        <div class="text">
                                                            <h5 class="name"> {{item.moyenne}} </h5>
                                                            <p>Moyenne générale   </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="au-message__item">
                                                <div class="au-message__item-inner">
                                                    <div class="au-message__item-text">
                                                        <div class="avatar-wrap">
                                                            <i class="zmdi zmdi-calendar-alt zmdi-hc-2x"></i>
                                                        </div>
                                                        <div class="text">
                                                            <h5 class="name"> {{app.user.session}} </h5>
                                                            <p>Année de session    </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="au-message__item">
                                                <div class="au-message__item-inner">
                                                    <div class="au-message__item-text">
                                                        <div class="avatar-wrap">
                                                            <i class="zmdi zmdi-accounts-outline zmdi-hc-2x"></i>
                                                        </div>
                                                        <div class="text">
                                                            <h5 class="name"> {{item.session}}  </h5>
                                                            <p>Apreciation du jury session 1 , session 2 (direct , 2 ieme groupe  )  </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="au-message__item">
                                                <div class="au-message__item-inner">
                                                    <div class="au-message__item-text">
                                                        <div class="avatar-wrap">
                                                            <i class="zmdi zmdi-balance zmdi-hc-2x"></i>
                                                        </div>
                                                        <div class="text">
                                                            <h5 class="name"> {{item.ecole}}  </h5>
                                                            <p>Etablissement scolaire frequenté   </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="au-message__item">
                                                <div class="au-message__item-inner">
                                                    <div class="au-message__item-text">
                                                        <div class="avatar-wrap">
                                                            <i class="zmdi zmdi-file zmdi-hc-2x"></i>
                                                        </div>
                                                        <div class="text">
                                                            <h5 class="name"> <a href="{{ asset('uploads/'~ item.attestation) }}">consulter </a> </h5>
                                                            <p>Attestation de reussite  ou diplome bac   </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="au-message__item">
                                                <div class="au-message__item-inner">
                                                    <div class="au-message__item-text">
                                                        <div class="avatar-wrap">
                                                            <i class="zmdi zmdi-folder-person zmdi-hc-2x"></i>
                                                        </div>
                                                        <div class="text">
                                                            <h5 class="name"> <a href="{{ asset('uploads/'~ item.releve) }}">consulter </a>  </h5>
                                                            <p>Relevé de notes    </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                            </div>
                                        {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    </div>
                    <!---  cursus interne ou externe -->
                    {% if app.user.parcours_universitaires|length >= 1  %}
                     <div class="col-lg-12 col-xl-12">
                        {% for candidatures in app.user.candidatures %}
                            {% if (candidatures.cursus=="interne" ) %}
                                <div class="card">
                                    <h5 class="card-header text-white bg-primary mb-3">Cursus interne </h5>
                                    <div class="card-body">
                                        <table class="table table-hover table-bordered text-nowrap">
                                            <thead>
                                                <tr>
                                                    <th>Anneé</th>
                                                    <th>Discipline </th>
                                                    <th>niveau d'etude  </th>
                                                    <th>Etablissement </th>
                                                    <th>mention   </th>
                                                    <th>moyenne    </th>
                                                   <th>Justificatif  </th>
                                                   {% for candidat in app.user.candidatures %}
                                                        {% if candidat.status == 0  %}
                                                             <td>Actions</td>
                                                        {% endif %}
                                                    {% endfor %}
                                                </tr>
                                            </thead>
                                            <tbody>
                                            {% for parcours_universitaire in app.user.parcours_universitaires %}
                                            
                                                <tr>
                                                <td>{{ parcours_universitaire.AnneInscription ? parcours_universitaire.AnneInscription|date('d-m-Y' , false) : '' }}</td>
                                                    <td>{{ parcours_universitaire.filiere }}</td>
                                                    <td>{{ parcours_universitaire.niveau.libelle }}</td>
                                                    <td>{{ parcours_universitaire.titreUniveriste }} {{ parcours_universitaire.typeuniversite.libelle }} {{ parcours_universitaire.pays }}</td>
                                                    <td>{{ parcours_universitaire.mention }}</td>
                                                    <td>{{ parcours_universitaire.moyenne }}</td>
                                                    <td><a href="{{ asset('uploads/'~ parcours_universitaire.fichier ) }}"><i class="zmdi zmdi-download zmdi-hc-2x"></i>  </a> </td>
                                                    {% for candidat in app.user.candidatures %}
                                                        {% if candidat.status == 0  %}
                                                            <td>
                                                                <a  class="btn  btn-sm btn-success" href="{{ path('parcours_universitaire_edit', {'id': parcours_universitaire.id}) }}"> <i class="zmdi zmdi-edit"></i> </a>
                                                                <a  onclick="delete_cursus_interne()" id="cursus_interne" data-id ="{{ parcours_universitaire.id }}"  class="btn  btn-sm btn-danger"  href="#"> <i class="zmdi zmdi-delete"></i> </a>
                                                            </td>
                                                        {% endif %}
                                                    {% endfor %}
                                                </tr>
                                            
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="col-lg-12 col-xl-12">
                        {% for candidatures in app.user.candidatures %}
                            {% if (candidatures.cursus=="externe" ) %}
                                <div class="card">
                                    <h5 class="card-header text-white bg-primary mb-3">Cursus externe </h5>
                                    <div class="card-body">
                                        <table class="table table-hover table-bordered text-nowrap">
                                            <thead>
                                                <tr>
                                                    <th>Anneé</th>
                                                    <th>Discipline </th>
                                                    <th>niveau d'etude  </th>
                                                    <th>Etablissement </th>
                                                    <th>type etablissement  </th>
                                                    <th>mention   </th>
                                                    <th>moyenne    </th>
                                                    <th>pays  </th>
                                                     <th>Justificatif  </th>
                                                       {% for candidat in app.user.candidatures %}
                                                        {% if candidat.status == 0  %}
                                                             <td>Actions</td>
                                                        {% endif %}
                                                    {% endfor %}
                                                </tr>
                                            </thead>
                                            <tbody>
                                            {% for parcours_universitaire in app.user.parcours_universitaires %}
                                            
                                                <tr>
                                                <td>{{ parcours_universitaire.AnneInscription ? parcours_universitaire.AnneInscription|date('d-m-Y' , false) : '' }}</td>
                                                    <td>{{ parcours_universitaire.filiere }}</td>
                                                    <td>{{ parcours_universitaire.niveau.libelle }}</td>
                                                    <td>{{ parcours_universitaire.titreUniveriste }}</td>
                                                    <td>{{ parcours_universitaire.typeuniversite.libelle }}</td>
                                                    <td>{{ parcours_universitaire.mention }}</td>
                                                    <td>{{ parcours_universitaire.moyenne }}</td>
                                                    <td>{{ parcours_universitaire.pays }}</td>
                                                    <td><a href="{{ asset('uploads/'~ parcours_universitaire.fichier ) }}"><i class="zmdi zmdi-download zmdi-hc-2x"></i> </a> </td>
                                                     {% for candidat in app.user.candidatures %}
                                                        {% if candidat.status == 0  %}
                                                            <td>
                                                                <a  class="btn  btn-sm btn-success" href="{{ path('parcours_universitaire_edit', {'id': parcours_universitaire.id}) }}"> <i class="zmdi zmdi-edit"></i> </a>
                                                                 <a  onclick="delete_cursus_interne()" id="cursus_interne" data-id ="{{ parcours_universitaire.id }}"  class="btn  btn-sm btn-danger"  href="#"> <i class="zmdi zmdi-delete"></i> </a>
                                                            </td>
                                                        {% endif %}
                                                    {% endfor %}
                                                
                                                </tr>
                                            
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                {% elseif candidatures.cursus=="deux"  %}
                                    <div class="card">
                                            <h5 class="card-header text-white bg-primary mb-3">Cursus externe-interne  </h5>
                                            <div class="card-body">
                                                <table class="table table-hover table-bordered text-nowrap">
                                                    <thead>
                                                        <tr>
                                                            
                                                            <th>Anneé</th>
                                                            <th>Discipline </th>
                                                            <th>niveau d'etude  </th>
                                                            <th>Etablissement </th>
                                                            <th>type etablissement  </th>
                                                            <th>mention   </th>
                                                            <th>moyenne    </th>
                                                            <th>pays  </th>
                                                             <th>Type de cursus</th>
                                                            <th>Justificatif</th>
                                                           

                                                            {% for candidat in app.user.candidatures %}
                                                                {% if candidat.status == 0  %}
                                                                    <th>Actions</th>
                                                                {% endif %}
                                                            {% endfor %}
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for parcours_universitaire in app.user.parcours_universitaires %}
                                                    
                                                        <tr>
                                                        <td>{{ parcours_universitaire.AnneInscription ? parcours_universitaire.AnneInscription|date('d-m-Y' , false) : '' }}</td>
                                                            <td>{{ parcours_universitaire.filiere }}</td>
                                                            <td>{{ parcours_universitaire.niveau.libelle }}</td>
                                                            
                                                            <td>{{ parcours_universitaire.titreUniveriste }}</td>
                                                            <td>{{ parcours_universitaire.typeuniversite.libelle }}</td>
                                                            <td>{{ parcours_universitaire.mention }}</td>
                                                            <td>{{ parcours_universitaire.moyenne }}</td>
                                                            <td>{{ parcours_universitaire.pays }}</td>
                                                            <td>{{ parcours_universitaire.typeCursus }}</td>
                                                            <td><a href="{{ asset('uploads/'~ parcours_universitaire.fichier ) }}"><i class="zmdi zmdi-download zmdi-hc-2x"></i> </a> </td>
                                                            
                                                            {% for candidat in app.user.candidatures %}
                                                                {% if candidat.status == 0  %}
                                                                    <td>
                                                                        <a  class="btn  btn-sm btn-success" href="{{ path('parcours_universitaire_edit', {'id': parcours_universitaire.id}) }}"> <i class="zmdi zmdi-edit"></i> </a>
                                                                    <a  onclick="delete_cursus_interne()" id="cursus_interne" data-id ="{{ parcours_universitaire.id }}"  class="btn  btn-sm btn-danger"  href="#"> <i class="zmdi zmdi-delete"></i> </a>
                                                                    </td>
                                                                {% endif %}
                                                            {% endfor %}
                                                        </tr>
                                                    
                                                    {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                    </div>
                                {% endif %}
                        {% endfor %}
                    </div>
                    {% endif %}
                    {% if (app.user.diplomes|length >= 1)   %}
                    
                    <div class="col-lg-12 col-xl-12">
                     {% for candidatures in app.user.candidatures %}
                        {% if candidatures.typediplome.id  !="3" %}
                            <div class="col-lg-12 col-xl-12">
                                    <div class="card" >
                                        <h5 class="card-header text-white bg-primary mb-3">Formations et diplomes  </h5>
                                        <div class="card-body" id="section_diplome">
                                        <table   class="table table-striped table-bordered">
                                            <thead>
                                                <tr>
                                                <th>Année d'otention  </th>
                                                <th>Discipline </th>
                                                <th>Intitulé diplome </th>
                                                <th>Cycle d'études</th>
                                                <th>Etablissement  </th>
                                                <th>Moyenne   </th>
                                                <th>Mention </th>
                                                <th>Justificatif </th>
                                                {% for candidat in app.user.candidatures %}
                                                    {% if candidat.status == 0  %}
                                                        <th>Actions </th>
                                                    {% endif %}
                                                {% endfor %}
                                                
                                            </tr>
                                            </thead>
                                            <tbody>
                                                {% for diplome in app.user.diplomes %}
                                                    <tr> 
                                                       
                                                        <td>{{ diplome.session }}</td>
                                                        <td>{{ diplome.composant.libelle }}</td>
                                                        <td>{{ diplome.libelle }}</td>
                                                        <td> {{ diplome.typediplome.libelle }} </td>
                                                       
                                                        <td> {{ diplome.typeuniversite.libelle }}- {{ diplome.universite }} {{ diplome.pays }}</td>
                                                          <td>{{ diplome.moyenne }}</td>
                                                        <td> <span> {{ diplome.mention }}  </span> </td>
                                                         <td><a href="{{ asset('uploads/'~ diplome.fichier ) }}"><i class="zmdi zmdi-download zmdi-hc-2x"></i> </a> </td>
                                                       {% for candidat in app.user.candidatures %}
                                                          {% if candidat.status == 0  %}
                                                                <td>
                                                                    <a  class="btn  btn-sm btn-success" href="{{ path('diplome_edit', {'id': diplome.id}) }}"> <i class="zmdi zmdi-edit"></i> </a>
                                                                    <a  onclick="delete_diplomes()"  class="btn  btn-sm btn-danger" id="diplome"   data-id="{{ diplome.id }}" href="#"> <i class="zmdi zmdi-delete"></i> </a>
                                                                </td>
                                                            {% endif %}
                                                        {% endfor %}
                                                        
                                                    </tr>
                                                {% else %}
                                                    <tr>
                                                        <td colspan="10" style="color:red">Inserez vos diplomes d'etudes superieur </td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>   
                                        </div>
                                    </div>
                            </div>
                        {% endif %}
                     {% endfor %}
                    </div>
                    {% endif %}
                    <div class="col-lg-12 col-xl-12">
                    {% if app.user.fluxes|length >= 1 %}
                        {% for candidatures in app.user.candidatures %}    
                            {% if candidatures.flux =="entrant" %}
                                
                                    <div class="card mb-5">
                                    <div  class="card-header text-white bg-primary mb-3">Flux entrant
                                        {% for flux in app.user.fluxes  %}
                                            {% for candidat in app.user.candidatures %}
                                                {% if candidat.status == 0  %}
                                                    <div  style="float:right">
                                                        <a  class="btn  btn-md btn-success"  href="{{ path('flux_edit', {'id': flux.id}) }}"> <i class="zmdi zmdi-edit"></i> </a>
                                                        <a   onclick="delete_flux_entrant()"  data-id="{{flux.id}}" id="flux_entrant" class="btn  btn-md btn-danger" href="#"> <i class="zmdi zmdi-delete"></i> </a>
                                                    </div>
                                                {% endif %}
                                            {% endfor %}
                                        {% endfor %}
                                     </div>
                                    <div class="row gutters" style="margin-left:2%">
                                        <div class="col-md-4">
                                            {% for flux in app.user.fluxes  %}
                                                <div class="list-group">
                                                    
                                                    <a href="#" class="list-group-item list-group-item-action">
                                                        <div class="d-flex w-100 justify-content-between">
                                                        <h5 class="mb-1">Date depart </h5>
                                                        <small class="text-muted">{{ flux.depart ? flux.depart|date('Y-m-d') : '' }}</small>
                                                        </div>
                                                    </a>
                                                    <a href="#" class="list-group-item list-group-item-action">
                                                        <div class="d-flex w-100 justify-content-between">
                                                        <h5 class="mb-1">Date d'arrivé au comores  </h5>
                                                        <small class="text-muted">{{ flux.dateArrive ? flux.dateArrive|date('Y-m-d') : '' }}</small>
                                                        </div>
                                                    </a>
                                                    <a href="#" class="list-group-item list-group-item-action">
                                                        <div class="d-flex w-100 justify-content-between">
                                                        <h5 class="mb-1">Diplome d'etude superieur   </h5>
                                                        <small class="text-muted">{{flux.diplome}}</small>
                                                        </div>
                                                    </a>
                                                    <a href="#" class="list-group-item list-group-item-action">
                                                        <div class="d-flex w-100 justify-content-between">
                                                        <h5 class="mb-1">Domainde de specialité   </h5>
                                                        <small class="text-muted">{{flux.specialite}}</small>
                                                        </div>
                                                    </a>
                                                    <a href="#" class="list-group-item list-group-item-action">
                                                        <div class="d-flex w-100 justify-content-between">
                                                        <h5 class="mb-1">Niveau d'etude actuel  </h5>
                                                        <small class="text-muted">{{flux.niveauActuel.libelle    }}</small>
                                                        </div>
                                                    </a>
                                                    <a href="#" class="list-group-item list-group-item-action">
                                                        <div class="d-flex w-100 justify-content-between">
                                                        <h5 class="mb-1">Pays d'etude  </h5>
                                                        <small class="text-muted">{{flux.pays    }}</small>
                                                        </div>
                                                    </a>
                                                    <a href="#" class="list-group-item list-group-item-action">
                                                        <div class="d-flex w-100 justify-content-between">
                                                        <h5 class="mb-1">Cycle d'etude superieur  </h5>
                                                        <small class="text-muted">{{flux.typediplome.libelle   }}</small>
                                                        </div>
                                                    </a>
                                                
                                                </div>
                                            {% endfor %}
                                        </div>
                                        <div class="col-md-8">
                                        {% for flux in app.user.fluxes  %}
                                            <div class="card border-primary">
                                                <div class="card-body">
                                                    <h5 class="card-title">Projet proffessionnel </h5>
                                                    <p class="card-text">{{  flux.projet}}</p>
                                                </div>
                                            </div>
                                            <div class="card border-primary">
                                                <div class="card-body">
                                                    <h5 class="card-title">Difficultés rencontrés durant les etudes   </h5>
                                                    <p class="card-text">{{ flux.probleme}}</p>
                                                </div>
                                            </div>
                                            <div class="card border-primary">
                                                <div class="card-body">
                                                    <h5 class="card-title">Remarques , suggestions  </h5>
                                                    <p class="card-text">{{ flux.suggestion }}</p>
                                                </div>
                                            </div>
                                        {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                   {% endif %}
                   </div>
                    {% if app.user.fluxSortants|length >= 1 %}
                        {% for candidatures in app.user.candidatures %}
                            {% if candidatures.flux=="sortant" %}
                                
                                <div class="col-lg-12 col-xl-12">
                                    <div class="card mb-6">
                                        <div class="card-header text-white bg-primary mb-3" style="float:right">Flux sortant
                                         {% for flux_sortant in app.user.fluxSortants %}
                                        {% for candidat in app.user.candidatures %}
                                            {% if candidat.status == 0  %}
                                                <div style="float:right">
                                                    <a  class="btn  btn-md btn-success"  href="{{ path('flux_sortant_edit', {'id': flux_sortant.id}) }}" > <i class="zmdi zmdi-edit"></i> </a>
                                                    <a   onclick="delete_flux_sortant()"  data-id="{{flux_sortant.id}}" id="flux_sortant" class="btn  btn-md btn-danger" href="#"> <i class="zmdi zmdi-delete"></i> </a>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    {% endfor %}
                                         </div>
                                        <div class="row gutters">
                                            <div class="col-md-4" style="padding-left:2%" style="height:400px">
                                            {% for flux_sortant in app.user.fluxSortants %}
                                            <div class="list-group">
                                                    <a href="#" class="list-group-item list-group-item-action">
                                                        <div class="d-flex w-100 justify-content-between">
                                                        <h5 class="mb-1">Date depart </h5>
                                                        <small class="text-muted">{{ flux_sortant.dateDepart ? flux_sortant.dateDepart|date('Y-m-d') : '' }}</small>
                                                        </div>
                                                    </a>
                                                    <a href="#" class="list-group-item list-group-item-action">
                                                        <div class="d-flex w-100 justify-content-between">
                                                        <h5 class="mb-1">Nom etablissement  </h5>
                                                        <small class="text-muted">{{ flux_sortant.universite }}</small>
                                                        </div>
                                                    </a>
                                                    <a href="#" class="list-group-item list-group-item-action">
                                                        <div class="d-flex w-100 justify-content-between">
                                                        <h5 class="mb-1">Niveau d'etude visé + cycle   </h5>
                                                        <small class="text-muted">{{ flux_sortant.niveau.libelle }} - {{ flux_sortant.cycle }} </small>
                                                        </div>
                                                    </a>
                                                    <a href="#" class="list-group-item list-group-item-action">
                                                        <div class="d-flex w-100 justify-content-between">
                                                        <h5 class="mb-1">Type d'etablissement  </h5>
                                                        <small class="text-muted">{{ flux_sortant.typeuniversite.libelle }} {{ flux_sortant.typeuniversit}}</small>
                                                        </div>
                                                    </a>
                                                    <a href="#" class="list-group-item list-group-item-action">
                                                        <div class="d-flex w-100 justify-content-between">
                                                        <h5 class="mb-1">Discipline  </h5>
                                                        <small class="text-muted">{{ flux_sortant.filiere }}</small>
                                                        </div>
                                                    </a>
                                                    <a href="#" class="list-group-item list-group-item-action">
                                                        <div class="d-flex w-100 justify-content-between">
                                                        <h5 class="mb-1">Domainde de competence   </h5>
                                                        <small class="text-muted">{{ flux_sortant.composant.libelle  }}</small>
                                                        </div>
                                                    </a>
                                                    <a href="#" class="list-group-item list-group-item-action">
                                                        <div class="d-flex w-100 justify-content-between">
                                                        <h5 class="mb-1">Adresse université    </h5>
                                                        <small class="text-muted">{{ flux_sortant.pays }} {{ flux_sortant.ville }} </small>
                                                        </div>
                                                    </a>
                                                </div>
                                            
                                            {% endfor %}
                                            </div>
                                            <div class="col-md-7">
                                            {% for flux_sortant in app.user.fluxSortants %}
                                                <div class="card border-primary">
                                                    <div class="card-body">
                                                        <h5 class="card-title">Projet proffessionnel </h5>
                                                        <p class="card-text">{{ flux_sortant.motivation   }}</p>
                                                    </div>
                                                </div>
                                                <div class="card border-primary">
                                                    <div class="card-body">
                                                        <h5 class="card-title">Resource financiere  </h5>
                                                        <p class="card-text">{{ flux_sortant.moyen   }}</p>
                                                    </div>
                                                </div>
                                                
                                            {% endfor %}
                                            </div>
                                            
                                        </div>
                                        </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                     {% if app.user.fluxSortants|length >= 1   %}
                     {% for candidatures in app.user.candidatures %}
                      {% if candidatures.flux=="resident" %}
                        <div class="col-lg-12 col-xl-12">
                            <div class="card mb-6">
                                <div  class="card-header text-white bg-primary mb-3">Flux resident 
                                    {% for flux_sortant in app.user.fluxSortants %}
                                        {% for candidat in app.user.candidatures %}
                                            {% if candidat.status == 0  %}
                                                <div style="float:right">
                                                    <a  class="btn  btn-md btn-success"  href="{{ path('flux_sortant_edit', {'id': flux_sortant.id}) }}" > <i class="zmdi zmdi-edit"></i> </a>
                                                    <a   onclick="delete_flux_sortant()"  data-id="{{flux_sortant.id}}" id="flux_sortant" class="btn  btn-md btn-danger" href="#"> <i class="zmdi zmdi-delete"></i> </a>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    {% endfor %}
                                 </div>
                                <div class="row gutters">
                                    <div class="col-md-4" style="padding-left:2%" style="height:400px">
                                     {% for flux_sortant in app.user.fluxSortants %}
                                       <div class="list-group">
                                            <a href="#" class="list-group-item list-group-item-action">
                                                <div class="d-flex w-100 justify-content-between">
                                                <h5 class="mb-1">Date depart </h5>
                                                <small class="text-muted">{{ flux_sortant.dateDepart ? flux_sortant.dateDepart|date('Y-m-d') : '' }}</small>
                                                </div>
                                            </a>
                                            <a href="#" class="list-group-item list-group-item-action">
                                                <div class="d-flex w-100 justify-content-between">
                                                <h5 class="mb-1">Nom etablissement  </h5>
                                                <small class="text-muted">{{ flux_sortant.universite }}</small>
                                                </div>
                                            </a>
                                            <a href="#" class="list-group-item list-group-item-action">
                                                <div class="d-flex w-100 justify-content-between">
                                                <h5 class="mb-1">Niveau d'etude visé + cycle   </h5>
                                                <small class="text-muted">{{ flux_sortant.niveau.libelle }} - {{ flux_sortant.cycle }} </small>
                                                </div>
                                            </a>
                                            <a href="#" class="list-group-item list-group-item-action">
                                                <div class="d-flex w-100 justify-content-between">
                                                <h5 class="mb-1">Type d'etablissement  </h5>
                                                <small class="text-muted">{{ flux_sortant.typeuniversite.libelle }} {{ flux_sortant.typeuniversit}}</small>
                                                </div>
                                            </a>
                                            <a href="#" class="list-group-item list-group-item-action">
                                                <div class="d-flex w-100 justify-content-between">
                                                <h5 class="mb-1">Discipline  </h5>
                                                <small class="text-muted">{{ flux_sortant.filiere }}</small>
                                                </div>
                                            </a>
                                            <a href="#" class="list-group-item list-group-item-action">
                                                <div class="d-flex w-100 justify-content-between">
                                                <h5 class="mb-1">Domainde de competence   </h5>
                                                <small class="text-muted">{{ flux_sortant.composant.libelle  }}</small>
                                                </div>
                                            </a>
                                            <a href="#" class="list-group-item list-group-item-action">
                                                <div class="d-flex w-100 justify-content-between">
                                                <h5 class="mb-1">Adresse université    </h5>
                                                <small class="text-muted">{{ flux_sortant.pays }} {{ flux_sortant.ville }} </small>
                                                </div>
                                            </a>
                                        </div>
                                     
                                     {% endfor %}
                                    </div>
                                    <div class="col-md-7">
                                    {% for flux_sortant in app.user.fluxSortants %}
                                        <div class="card border-primary">
                                            <div class="card-body">
                                                <h5 class="card-title">Projet proffessionnel </h5>
                                                <p class="card-text">{{ flux_sortant.motivation   }}</p>
                                            </div>
                                        </div>
                                        <div class="card border-primary">
                                            <div class="card-body">
                                                <h5 class="card-title">Resource financiere  </h5>
                                                <p class="card-text">{{ flux_sortant.moyen   }}</p>
                                            </div>
                                        </div>
                                        
                                    {% endfor %}
                                    </div>
                                    
                                    
                                </div>
                                </div>
                        </div>
                        {% endif %}
                    {% endfor %}
                  {% endif %}
                
                    <div class="col-lg-6 col-xl-6">
                      {% if (app.user.bourses|length)>= 1  %}
                        {% for candidatures in app.user.candidatures %}
                            {% if candidatures.bourse =="oui" %}
                            <div class="card" id="section_bourse">
                                <h5 class="card-header text-white bg-primary mb-3">Bourse d'etude  </h5>
                                <div class="card-body">
                                    <div class="list-group">
                                        {% for bourse in app.user.bourses %}
                                        <li href="#" class="list-group-item list-group-item-action">
                                            <div class="d-flex w-100 justify-content-between">
                                                <h5 class="mb-1">Bourse : {{ bourse.nature }} <h5>
                                                <p> Pays d'obtention : {{ bourse.pays }}</p>
                                                <small><strong> {{bourse.datecreate|date('Y-m-d')}} </strong> </small> 
                                            </div>
                                            <p class="mb-1">{{bourse.detail }}</p>
                                            <small>  <strong> Montant mensuel :  <span class="badge btn-md badge-primary">{{ bourse.montant }}€</span></strong> </small> 
                                            {% for candidat in app.user.candidatures %}
                                                {% if candidat.status == 0  %}
                                                    <a  class="btn  btn-sm btn-success" href="{{ path('bourse_edit', {'id': bourse.id}) }}"> <i class="zmdi zmdi-edit"></i> </a>
                                                    <a   onclick="delete_bourse()" class="btn  btn-sm btn-danger" id="bourse"  data-id="{{ bourse.id }}"  href="#"> <i class="zmdi zmdi-delete"></i> </a>
                                                {% endif %}
                                            {% endfor %}
                                        </li>
                                       
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        {% endfor %}
                        {% endif %}
                    </div>
                    <div class="col-lg-6 col-xl-6">
                            {% if (app.user.experiences|length) >= 1  %}
                            {% for candidatures in app.user.candidatures %}
                                {% if candidatures.stage =="oui" %}
                                    <div class="col-lg-12">
                                        <div class="au-card au-card--no-shadow au-card--no-pad m-b-40 au-card--border">
                                            <h5 class="card-header text-white bg-primary mb-3">Experience professionnelle </h5>
                                            <div class="au-task js-list-load au-task--border">
                                                
                                                <div class="au-task-list js-scrollbar3">
                                                    <div class="au-task__item au-task__item--danger">
                                                        <div class="au-task__item-inner">
                                                        
                                                                {% for item in app.user.experiences  %}
                                                                    <li href="#" class="list-group-item list-group-item-action">
                                                                        <div class="d-flex w-100 justify-content-between">
                                                                        <h4 class="card-title"> {{ item.poste}} <h4>
                                                                        <h5 class="mb-3"> {{ item.entreprise }} - {{ item.pays}} <h5>
                                                                        </div>
                                                                        <div class="d-flex w-100 justify-content-between">
                                                                        <h6 class="mb-3">Du {{ item.dateExperience|date('Y-m-d') }} à {{ item.datefin|date('d/m/Y') }} </h6>
                                                                        </div>
                                                                        {{ item.detail}}
                                                                        <br>
                                                                        {% for candidat in app.user.candidatures %}
                                                                            {% if candidat.status == 0  %}
                                                                                <a  class="btn  btn-sm btn-success" href="{{ path('experience_edit', {'id': item.id}) }}"> <i class="zmdi zmdi-edit"></i> </a>
                                                                                <a   onclick="delete_experience()"    class="btn  btn-sm btn-danger"   id="experience"   data-id="{{ item.id }}"  href="#"> <i class="zmdi zmdi-delete"></i> </a>
                                                                            {% endif %}
                                                                        {% endfor %}
                                                                    </li>
                                                                
                                                                {% endfor %}
                                                            
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
                
            </div>
            
        </div>
        {% for candidat in app.user.candidatures %}
         {% if (app.user.informationBacs|length)== 1 and (app.user.etudiants|length) ==  1 and (app.user.responsables|length == 1 )    %}
           {% if candidat.status == 0  %}
            
            <div style="padding-left:20%" id="btn-valider">
            <a href="#"  data-id="{{candidat.id}}"  id="valider_candidature" style="color:white"  class="btn btn-lg btn-success "> <i class="zmdi zmdi-assignment-check"></i>  valider votre candidature  </a>
            </div>
            {% endif %}
          {% endif %}
        {% endfor %}
</section>
{% endblock %}
