{% include 'link/nav.html.twig' %}
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex justify-cntent-center align-items-center">
    <div id="heroCarousel" data-bs-interval="5000" class="container carousel carousel-fade" data-bs-ride="carousel">

      <!-- Slide 1 -->
      <div class="carousel-item active">
        <div class="carousel-container">
          <h2 class="animate__animated animate__fadeInDown">Direction Génerale de l'Enseignement Suprieur et de la Recherche Scientifique </span></h2>
          
   
        </div>
      </div>

      <!-- Slide 2 -->
      

      <!-- Slide 3 -->
      <div class="carousel-item">
        <div class="carousel-container">
          <h2 class="animate__animated animate__fadeInDown">Les services de la Direction Générale de l'Enseignement Superieur peuvent  se faire en ligne  </h2>
         

        </div>
      </div>

      <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bx bx-chevron-left" aria-hidden="true"></span>
      </a>

      <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon bx bx-chevron-right" aria-hidden="true"></span>
      </a>

    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Icon Boxes Section ======= -->
    <section id="icon-boxes" class="icon-boxes">
      <div class="container">

        <div class="row">
          <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up">
            <div class="icon-box">
              <div class="icon"><i class="bx bxl-dribbble"></i></div>
              <h4 class="title">Enregistrer sur la plateforme</h4>
              <p class="description">Ce plateforme gere le flux entrant , sortant et resident des etudiants comoriens.
               Il egalement permet à la Direction de l'Enseignement Superieur de faire le collecte et suivi des etudiants sur leurs disciplines , leurs domaines d'etudes , la gestion des offres de bourse , 
               venant des pays amis. 
              
              </p>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up">
            <div class="icon-box">
              <div class="icon"><i class="bx bxl-dribbble"></i></div>
              <h4 class="title"><a href="">A QUI DE DROIT</a></h4>
              <p class="description">
              Cet outil vous donne la possibilité de faire la demande d'un "A QUI DE DROIT" en ligne.
              en ayant un compte utilisateur.  
               
              </p>
            </div>
          </div>

         <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-tachometer"></i></div>
              <h4 class="title"><a href="">AUTHENTIFICATION </a></h4>
              <p class="description">
              Ce service vous permet egalement de faire une demande d'authentification en ligne. 
              vous devez vous rendre à l'administration centre avec votre piece d'identité , diplomes et relevés notes scannées.
              pour avoir toutes informations.
              </p>
            </div>
          </div>

          

        </div>

      </div>
    </section><!-- End Icon Boxes Section -->

    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>A QUI EST DESTINE CETTE PLATEFORME ? </h2>
          <p> 
            Cette plateforme consiste à reccueiller les informations des bacheliers , des professionnelles et des etudiants telles que :
          </p>
        </div>

        <div class="row content">
          <div class="col-lg-6">
            <ul>
              <li><i class="ri-check-double-line"></i> Informations personnelles et celle du responsable  </li>
              <li><i class="ri-check-double-line"></i> Informations baccalaureat </li>
              <li><i class="ri-check-double-line"></i> Cursus universitaire interne et externe de l'utilisateur </li>
              <li><i class="ri-check-double-line"></i> Les diplomes obtenus  </li>
            
              
            </ul>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <ul>
              <li><i class="ri-check-double-line"></i> Les informations de la bourse si vous en beneficiez  </li>
              <li><i class="ri-check-double-line"></i> Experience professionnelle , activité , stage   </li>
              <li><i class="ri-check-double-line"></i> Flux entrant :     </li>
              <li><i class="ri-check-double-line"></i> Flux sortant : un uti qui souhaitant  partir faire ses etudes à l'etranger     </li>
              <li><i class="ri-check-double-line"></i> Flux resident  : un etudiant qui      </li>
            </ul>
            
          </div>
        </div>
         <div class="section-title">
          <h2>POUR QUOI  ? </h2>
          <p> 
           Pour un utilisateur souhaitant accéder aux services de la Direction Generale de l'Enseignement Superieur dont ils ont besions.
          </p>
        </div>

      </div>
    </section><!-- End About Us Section -->

    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients">
      <div class="container" data-aos="zoom-in">

        <div class="clients-slider swiper">
          <div class="swiper-wrapper align-items-center">
            <div class="swiper-slide"><img src="./../../images/lo.jpg" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="./../../images/udc.jpg" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="./../../images/iut.jpg" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="./../../images/cndrs.jpg" class="img-fluid" alt=""></div>
          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Clients Section -->

    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">
      <div class="container-fluid">

        <div class="row">

          <div class="col-lg-5 align-items-stretch position-relative video-box" style='background-image: url("assets/img/why-us.jpg");' data-aos="fade-right">
            <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="glightbox play-btn mb-4"></a>
          </div>

          <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch" data-aos="fade-left">

            <div class="content">
              <h4>Quelles sont les etapes à faire pour s'enegistrer dans le plateforme ENSUP ?</h>
            </div>

            <div class="accordion-list">
              <ul>
                <li data-aos="fade-up" data-aos-delay="100">
                  <a data-bs-toggle="collapse" class="collapse" data-bs-target="#accordion-list-1"><span>01</span> Creation de compte  <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                  <div id="accordion-list-1" class="collapse show" data-bs-parent=".accordion-list">
                    <p>
                       Pour un etudiant qui veut avoir un compte , il doit se rendre à l'admnistration centrale  avec sa carte d'identité et son attestation du baccalaureat.
                      NB: L'etudiant doit avoir un adresse email valide sinon il peut creer via ce lien <a href="https://support.google.com/accounts/answer/27441?hl=fr">consulter</a> <br>
                      </p>
                     <br>
                     
                  </div>
                </li>

                <li data-aos="fade-up" data-aos-delay="200">
                  <a data-bs-toggle="collapse" data-bs-target="#accordion-list-2" class="collapsed"><span>02</span> Je me connecte  <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                  <div id="accordion-list-2" class="collapse" data-bs-parent=".accordion-list">
                    <p>
                      Pour un etudiant qui a dejà crée un compte , il peut se connecter via ses identifiants email et mot de passe 
                    </p>
                    <br>
                      <a href="{{ path("app_login") }}">Connexion</a>
                  </div>
                </li>

                <li data-aos="fade-up" data-aos-delay="300">
                  <a data-bs-toggle="collapse" data-bs-target="#accordion-list-3" class="collapsed"><span>03</span> J'enregistre mes informations   <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                  <div id="accordion-list-3" class="collapse" data-bs-parent=".accordion-list">
                    <p>
                      Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Faucibus pulvinar elementum integer enim. Sem nulla pharetra diam sit amet nisl suscipit. Rutrum tellus pellentesque eu tincidunt. Lectus urna duis convallis convallis tellus. Urna molestie at elementum eu facilisis sed odio morbi quis
                    </p>
                  </div>
                </li>
                
                

              </ul>
            </div>

          </div>

        </div>

      </div>
    </section><!-- End Why Us Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Nos Services</h2>
          
        </div>

        <div class="row">
          <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="icon-box">
              <i class="bi bi-card-checklist"></i>
              <h4><a href="#">Certification </a></h4>
              <p>
               Pour un etudiant qui souhaite certifier ces diplomes ou ces rélevés de notes 
               il doit minir d'un certificat d'authenticité et le copies de relevés de notes et les diplomes.
              </p>
            </div>
          </div>
          <div class="col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="200">
            <div class="icon-box">
              <i class="bi bi-bar-chart"></i>
              <h4><a href="#">Authentification</a></h4>
              <p>
              Ce plateforme vous donne aussi la possibilité de faire la demande d'authentification de diplomes en ligne.
                    Vous devez d'abord vous enregistrer dans le plateforme.Ensuite scannez la certification de ces pieces suivantes.
                    Baccaulaureat , Diplomes originaux et releves de notes originaux.
              </p>
            </div>
          </div>
          
          <div class="col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="400">
            <div class="icon-box">
              <i class="bi bi-brightness-high"></i>
              <h4><a href="#">OCTROIE DE BOURSE D'ETUDE </a></h4>
              <p>
               Sur la base de la performance du bachelier la Direction Generale de l'Enseignement Superieur offre des formulaire de demande de bourse 
              pour les etudiants souhaitant continuer les etudes à letranger.
              
              </p>
            </div>
          </div>
          
          <div class="col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="300">
            <div class="icon-box">
              <i class="bi bi-binoculars"></i>
              <h4><a href="#">A QUI DE DROIT </a></h4>
              <p>
                 <strong> Un "A QUI DE DROIT" : </strong> est un document administrative delivré à toutes les etudiants 
                  en partance pour des etudes à l'etranger. <br>
                  L'etudiant doit munir 
              </p>
                <div style="padding-left:10%">
                  <ol>
                    <li>Attestation de pre-inscription</li>
                    <li>Attestation d'herbergment</li>
                    <li>Attestation du bac + relevé certifié</li>
                    <li>Dipome de licence  + relevé certifié pour un master </li>
                    <li>Photocopie du passport concerné </li>
                    <li>Photocopie du visa</li>
                  </ol>
                </div>
            </div>
          </div>
          

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Cta Section ======= -->
    <section id="sommes" class="cta">
      <div class="container">

        <div class="row" data-aos="zoom-in">
          <div class="col-lg-9 text-center text-lg-start">
            <h3>QUI SOMMES-NOUS ? </h3>
            <p> L'enseignement superieur fournit au pays les cadres qualifiés qui doivent jouer 
             un role significatif <br>  dans la creation , l'inovation , le developpement de la pensée et de la 
             science universelle.
             </p>
          </div>
          <div class="col-lg-3 cta-btn-container text-center">
            <a class="cta-btn align-middle" href="#contact">Contactez-nous </a>
          </div>
        </div>

      </div>
    </section><!-- End Cta Section -->
    <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="mission" class="faq section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title" >
          <h2>Notre mission </h2>
        </div>

        <div class="faq-list">
          <ul>
            <li data-aos="fade-up" data-aos="fade-up" data-aos-delay="100">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" class="collapse" data-bs-target="#faq-list-1">Elaborer la politique generale et definir les strategies du developpement en matiere de developpement superieur   <i class="bx bx-chevron-down icon-show"></i></a>
              
            </li>

            <li data-aos="fade-up" data-aos-delay="200">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-2" class="collapsed">Le developpement de la recherche dans toutes les disciplines. <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
            </li>

            <li data-aos="fade-up" data-aos-delay="300">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-3" class="collapsed">Veuillez à l'application de la reglementation en matiere d'enseignment suprieur <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              
            </li>
              <li data-aos="fade-up" data-aos-delay="300">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-3" class="collapsed">Coordonner la cooperation à caractere universitaire <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              
            </li>
              <li data-aos="fade-up" data-aos-delay="300">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-3" class="collapsed">Controler et evaluer la politique et le programme de l'enseignement superieur <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              
            </li>
            </li>
              <li data-aos="fade-up" data-aos-delay="300">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-3" class="collapsed">Controler à la valorisation des acteurs et des produits de recherches <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              
            </li>

            

          </ul>
        </div>

      </div>
    </section><!-- End Frequently Asked Questions Section -->

    <!-- ======= Portfoio Section ======= -->
  


   

    

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2 style="text-align:center">Contactez-nous </h2>
        </div>

        <div class="row mt-1 d-flex justify-content-end" data-aos="fade-right" data-aos-delay="100">

          <div class="col-lg-5">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Adresse:</h4>
                <p>BP 97-Moroni-Comores</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>dgesr.comores@gmail.com</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Telephone:</h4>
                <p>+269 7738194</p>
              </div>

            </div>

          </div>
          <div class="col-lg-6 mt-5 mt-lg-0" data-aos="fade-left" data-aos-delay="100">
             {{ form_start(form) }}
              <div class="row">
                <div class="col-md-6 form-group">
                  {{ form_widget(form.Nom) }}
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                 {{ form_widget(form.telephone) }}
                </div>
                <div class="col-md-12 form-group mt-3 mt-md-0">
                {{ form_widget(form.email) }}
                </div>
                <div class="col-md-12 form-group mt-3 mt-md-0">
                    {{ form_widget(form.objet) }}
                </div>
                <div class="col-md-12 form-group mt-3 mt-md-0">
                  {{ form_widget(form.detail) }}
                </div>
            </div>
            <div class="form-group mt-3">
              <button  class="btn btn-xs btn-success ">{{ button_label|default('Envoyer message ') }}</button>
            </div>
             {{ form_end(form) }}
             <br>
              
              {% for msg in app.flashes('message') %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                  <strong>{{ msg }}</strong> 
                </div>
                
                <script>
                  $(".alert").alert();
                </script>
             {% endfor %}
          </div>
         

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  {{ include('link/footer.html.twig') }}
 

</body>

</html>