  <footer id="footer">


    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-6 col-md-6 footer-links">
            <h4>Nos institutions</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">MEN [Ministere de l'Education Nationale ]</a></li>
              <li><i class="bx bx-chevron-right"></i> 
              <a href="#">DGERS [Direction Generale de L'Enseignement Supérieur]
               
               
               </a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">ONEC[Organisation National des Examens ]</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">DGETFP[Direction Generale de l'Enseignement Technique ]</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">UDC [Université des Comores ]</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">CNDRS [Centre National de Documentation et de Recherche Scientifique ]</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Nos universités partenaires  </h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Maroc</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Chine</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">France </a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Sénegal</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Tunisie </a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Maurice </a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Madagascar </a></li>
            </ul>
          </div>

         

          <div class="col-lg-3 col-md-6 footer-info">
            <h3>A PROPOS DE LA DGESR </h3>
            <p>
            L'enseignement supérieur et la recherche visent à former les agents de développement 
            dont l'Union des Comores a besoin.
            </p>
            <div class="social-links mt-3">
              <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
              <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
              <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
       Tous droit reservé Direction génerale de l'Enseignement Superieur et de la Recherche Scientifique @ {{ "now"|date("Y") }} 
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/anyar-free-multipurpose-one-page-bootstrap-theme/ -->
        Developpe par  <a href="https://bootstrapmade.com/">SOILIH MOHAMED</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
 <!-- Vendor JS Files -->
  <script src="{{ asset('assets/vendor/aos/aos.js') }}"></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>

  <script src="{{ asset('assets/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ asset('assets/vendor/glightbox/js/glightbox.min.js') }}"></script>
  <script src="{{ asset('assets/vendor/isotope-layout/isotope.pkgd.min.js') }}"></script>
  <script src="{{ asset('assets/vendor/swiper/swiper-bundle.min.js') }}"></script>
  <script src="{{ asset('assets/vendor/php-email-form/validate.js') }}"></script>

  <!-- Template Main JS File -->
  <script src="{{ asset('assets/js/main.js') }}"></script>